body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header {
  border-left: 3px solid #888;
}
.nav-header {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}
.nav-header img {
  cursor: pointer;
  height: 30px;
}
.search input {
  background-color: #ddd;
  border: none;
  padding: 4px;
  padding-left: 8px;
  border-radius: 10px;
  color: #888;
}
.search input:focus {
  border: none;
  border-radius: 10px;
}
.search i {
  color: #ddd;
  font-weight: bold;
  font-size: 25px;
}
.carousel img {
  height: 450px;
  /* border-bottom-left-radius: 20% 20%; */
  /* border-bottom-right-radius: 20% 20%; */
  border-radius: 0 0 150% 150% / 30%;
}
.blog-con {
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}
.brand-content h3 {
  color: #30a513;
}
.brand-content a {
  color: #30a513 !important;
  text-decoration: underline !important;
  cursor: pointer !important;
}
.brand-content a i {
  font-size: 13px !important;
  margin-right: 5px !important;
}
.video-area {
  background-color: #ddd;
  border-bottom: 1px solid #888;
  padding-top: 30px;
  padding-bottom: 30px;
}
.video {
  width: 554px;
  height: 280px;
  overflow: hidden;
}
.video-content h3 {
  color: #30a513;
}
ul {
  list-style-type: none;
}
.first-list {
  color: #30a513;
  text-decoration: underline;
}
.first-list li i {
  font-size: 13px;
  margin-right: 5px;
}
.bottom {
  border-right: 3px solid #888;
}
/* #30a513 */
.quote h2 {
  text-align: center;
  color: #30a513;
}
.quote-con p {
  line-height: 0px;
}
.social-icon {
  background-color: #ddd;
  border-top: 1px solid #888;
}
.social {
  margin: 0 140px 0 140px;
}
.social i {
  padding: 5px;
  background-color: #888;
  font-size: 20px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}
.footer-top {
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.8);
}
.footer-top li {
  color: #30a513;
  font-weight: bold;
}
.footer-top li i {
  margin-right: 5px;
  font-size: 10px;
}
.footer-top h3 {
  color: white;
}

@media screen and (max-width: 480px) {
  .social {
    margin: 10px;
  }
  .social div {
    margin-bottom: 10px;
  }
  .quote-con p {
    line-height: 20px;
  }
  .brand-img {
    width: 60px;
    height: 60px;
    margin-left: 10px;
    margin-bottom: 20px;
  }
  .brand-img img {
    width: 100%;
    height: 100%;
  }
  .video {
    width: 300px;
    height: 350px;
    overflow: hidden;
  }
}
